.fieldsnames {
    font-family: Verdana;
    font-size: 50px;
    padding-left:500px;
    margin-bottom:90px;
    color:blue;
}
.body{
    background-image: url("http://img-fotki.yandex.ru/get/6615/16969765.ca/0_6bf4b_5bdfc8bb_orig.jpg");

}
p.description {
    padding-left:25px;
    color:red;
    font-size: 40px;
    font-style:italic;
}

.firstfield {position:relative;
    right:665px;
    opacity: 0.6;
    width:100px;
    height: 40px;
    border-color: green;
    margin-top: 3px;
    margin-left: 85px;
    border-radius: 25%;}
.secondfield{position:relative;
    right:670px;
    opacity: 0.6;
    width:100px;
    height: 40px;
    border-color: green;
    margin-top: 3px;
    margin-left: 50px;
    border-radius: 25%;
}

.button {

    width:47px;
    height:47px;
    margin-left:50px;
    background-color: greenyellow;
    opacity: 0.6;
    border-radius: 75%;
    border-color: antiquewhite;
    font-size:20px;
}
.actionbutton  {
    display: inline-block;
    width:47px;
    height:47px;
    margin-left:50px;
    background-color: yellow;
    opacity: 0.6;
    border-radius:15%;
    border-color: darkcyan;
    font-size:20px;

}
 #btnPlus {
     position:relative;
     right:15px;
     display:inline-block;
     float:left;
    padding: 50px;
    margin-top:100px;
     font-size: 50px;
     text-align:center;
     line-height: 15%;

 }

#btnMinus {display:inline-block;
    position:relative;
    right:16px;
    float:left;
    padding: 50px;
    margin-top:100px;
    font-size: 50px;
    line-height: 15%;
    }

#btnMultiply {display:inline-block;
    position:relative;
    bottom: -150px;
    right:325px;
    float:left;
    padding: 50px;
    margin-top:100px;
    font-size: 50px;
    line-height: 15%;
    text-align:center;}
#btnDevide {display:inline-block;
    position:relative;
    bottom: -150px;
    right:325px;
    float:left;
    padding: 50px;
    margin-top:100px;
    font-size: 50px;
line-height: 15%;

}

.equals {
    position:relative;
    bottom:-250px;
    right:600px;
    width:100px;
    height:100px;
    margin-left:50px;
    background-color: greenyellow;
    opacity: 0.6;
    border-radius: 75%;
    border-color: darkcyan;
    font-size:50px;
}


.thirdfield {float:left;
    position:relative;
    bottom:-45px;
    right:-547px;
    opacity: 0.6;
    width:150px;
    height: 150px;
    border-color: green;
    margin-top: 3px;
    margin-left: 50px;
    border-radius: 25%;}